h1 {
    text-align: center;
    font-family:"Times New Roman";
    color: rgb(8, 4, 4);
}
h2,h3{
    text-align: center;
    font-family:"Times New Roman";
    color: rgb(56, 15, 15);
}
h4{
    text-align: center;
}